<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">MyEventBrite, des événements partout en France</h1>
    <p></p>
    <% if user_signed_in? %>
    <p><%= link_to "Crée ton événement !", new_event_path, :class => "btn btn-primary btn-lg nav-link", :role => "button" %></p>
    <% else %>
    <p><%= link_to "Connexion >>", new_user_session_path, :class => "btn btn-primary btn-lg nav-link", :role => "button" %></a></p>
    <%end%>
    <p></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% Event.all.each do |event| %>
    <div class="col-md-4">
      <h2><%= event.title %></h2>
      <p><%= event.description %></p>
      <p> <%= link_to "Voir plus »", event_path(event.id), :class => "btn btn-secondary" %> </p>
    </div>
    <% end %>
  </div>

  <hr>

</div>

